
.Menubar{
  background-color: #d2e2f4;
  width:100%;
  position: absolute;
  bottom:0px;
  display:block;
  height:60px;
}

.Menubar button{
  display: inline-block;
  background-color: #adc2db;
  width:70%;
  height:70%;
  margin-top:5px;
}
